# ------------------------------------------------------------------------------
#  Defines aliases and functions common to both Bash and Z shell.
# ------------------------------------------------------------------------------

alias cp='cp -i'
alias li='ls -lAG'

# Bower
alias bo='bower list'
alias boi='bower install'
alias bos='bower search'

# Composer
alias co='composer'

# Drush
alias dr='drush'
alias drc='drush cc all'
alias drcfu='drush cc all && drush fra -y && drush updb -y'
alias drcr='drush cr'
alias drd='drush dis'
alias dre='drush en'
alias drf='drush fra -y'
alias drff='drush fra --force -y'
alias drfu='drush fra -y && drush updb -y'
alias drl='drush uli'
alias drli='drush uli --browser'
alias drlint='drush coder-review'
alias dru='drush updb -y'
alias drun='drush pmu -y'

# Use Preview to read man pages.
# http://brettterpstra.com/2014/08/05/shell-tricks-man-pages/
alias manp="man -t ${1} | open -f -a Preview"

# https://github.com/yrammos/dotfiles/blob/master/.bashrc
alias .='pwd'
alias mv='mv -i'

# http://www.techrepublic.com/blog/10things/cut-down-on-linux-command-line-typing-with-these-10-handy-bash-aliases/352
alias df='df -h'

# https://github.com/sindresorhus/guides/blob/master/how-not-to-rm-yourself.md#safeguard-rm
alias rm='rm -i'

# Get current IP address.
alias myip='curl icanhazip.com'

# http://kvz.io/blog/2012/10/03/quick-server-debugging-with-wtf/
alias wtf='tail -f /var/log/{dmesg,messages,*{,/*}{log,err}}'

# http://alias.sh/cat-syntax-coloration
# http://stackoverflow.com/questions/7851134/syntax-highlighting-colorizing-cat/14799752#14799752
alias ccat='pygmentize -O bg=dark'

# # https://tutsplus.com/forums/topic/handy-aliasses-for-opening-sublimetext-with-xiki-buffer/
# # OPEN UP XIKI SUBLIME TEXT 2
# alias stx='subl .;subl *.xiki'
# # Create Xiki buffer from terminal.
# alias xiki='pwd > tree.xiki'

# ------------------------------------------------------------------------------
#  Git
#  https://drupalize.me/videos/moving-through-git-history?p=1173
#  https://medium.com/@porteneuve/30-git-cli-options-you-should-know-about-15423e8771df
#  https://medium.com/@porteneuve/getting-solid-at-git-rebase-vs-merge-4fa1a48c53aa
# ------------------------------------------------------------------------------

# Setup
alias git='hub'
alias gcl='git clone --verbose'

# Info
alias g='git status --branch --short --untracked-files=no'
alias gba='git branch --all --verbose --verbose'
alias gbl='git blame --minimal --show-number --show-stats'
# TODO
# - combine `gd` and `gdc` into a function
# - turn `gds` into a function with a little more functionality
alias gd='git diff HEAD --minimal --word-diff=color'
alias gd1='git diff HEAD~1 HEAD --minimal --word-diff=color'
alias gdc='git diff --minimal --word-diff=color'
alias gds='git diff HEAD --minimal --staged --word-diff=color'
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset"'
alias gld='gl --patch-with-stat --minimal --word-diff=color'
alias gll='git log --decorate --graph --all'
alias gllo='git log --decorate --graph --all --oneline'
alias gsr='git symbolic-ref --short HEAD'
alias gsu='git status --untracked-files'
alias gg='git log origin/$(gsr)..$(gsr)'

# Navigating
alias gb='git checkout'
alias gbd='git checkout dev'
alias gbm='git checkout master'

# Adding and updating
alias ga='git add'
alias ga+='git add --all'
alias gap='git add --patch'
alias gb+='git checkout -b'
alias gb--='git checkout --'
alias gc='git commit --verbose -m'
alias gf='git fetch --all'
alias glo='git pull --rebase=preserve origin'
alias gm='git merge --no-ff'
alias gmf='git merge --ff-only'
# alias gp='git push origin $(gsr)'
alias gp='git push'
alias gpl='git pull --rebase=preserve'
alias gpo='git push --set-upstream origin'
alias gpr='git pull-request'
alias gr='git rebase'
alias grm='git rebase master'
# alias grs='git rebase staging'
alias gu='git add --update'

# Patching
alias gdp='git diff HEAD --minimal'
alias gy='git apply --verbose'

# Stashing
alias gsl='git stash list --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset"'
alias gss='git stash save --include-untracked'
alias gsp='git stash pop --index'

# Resetting and deleting
alias gtg='git reset --hard; git clean --force -d'
# http://stackoverflow.com/questions/10906554/how-do-i-revert-my-changes-to-a-git-submodule/27415757#27415757
alias gtg+='gtfo; git submodule deinit --force .; git submodule update --init'
# http://stackoverflow.com/questions/2003505/delete-a-git-branch-both-locally-and-remotely/2003515#2003515
alias gtfo='git branch --delete --force'
alias gtfo+='git push origin --delete'


# TODO
# alias gg='git symbolic-ref --short HEAD | echo $1 cat'
# alias gg='echo ${echo 1}'
# alias gg='echo ${git symbolic-ref --short HEAD}'

# ------------------------------------------------------------------------------

# Haskell
alias h='ghc -package-db=.cabal-sandbox/x86_64-osx-ghc-7.6.3-packages.conf.d'
alias hc='cabal'
alias hcs='cabal sandbox'
alias hi='ghci -package-db=.cabal-sandbox/x86_64-osx-ghc-7.6.3-packages.conf.d'
alias hr='runghc -package-db=.cabal-sandbox/x86_64-osx-ghc-7.6.3-packages.conf.d'

# Homebrew
alias b='brew info; brew list'
alias bd='brew doctor'
alias bi='brew info'
alias bs='brew search'
alias bu='brew update && brew upgrade --all && brew cleanup && brew cask cleanup'

# Homebrew Cask
alias bk='brew cask list'
alias bkd='brew cask doctor'
alias bki='brew cask info'
alias bks='brew cask search'

# sift
alias s='sift'

# Symfony
alias sr='php app/console server:run'

# Vagrant
alias v='vagrant status'
alias vbl='vagrant box list'
alias vbr='vagrant box remove'
alias vd='vagrant destroy'
alias vd1='vagrant destroy --force $(vagrant global-status --prune | tail -n+3 | head -n1 | cut -c1-7)'
alias vg='vagrant global-status --prune'
alias vh='vagrant halt'
alias vp='vagrant provision'
alias vs='vagrant ssh'
alias vu='vagrant up'
alias vdu='vd1 && vu'

# yadm
# https://github.com/TheLocehiliosan/yadm
alias y='yadm status --untracked-files=no'
alias ya='yadm add'
alias yc='yadm commit -m'
alias yd='yadm diff HEAD --minimal --word-diff=color'
alias yd1='yadm diff HEAD~1 HEAD --minimal --word-diff=color'
alias yu='yadm add --update'
alias yl='yadm log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit --date=relative'
alias ylm='yadm pull --rebase=preserve origin master'
alias ypm='yadm push --set-upstream origin master'
alias ys='yadm list -a'
alias yy='yu; yc "WIP"; ypm'

#
# Pipes in/out of the OS X clipboard.
#
# Usage: someapp | cb     # Pipe someapp's output into clipboard
#        cb | someapp     # Pipe clipboard's content into someapp
#
# http://stackoverflow.com/a/19458217
#
cb() {
  if [[ -p /dev/stdin ]]; then
    # stdin is a pipe.
    # stdin -> clipboard
    pbcopy
  else
    # stdin is not a pipe.
    # clipboard -> stdout
    pbpaste
  fi
}

# Preview the OS X clipboard in the terminal.
# http://brettterpstra.com/2014/12/11/preview-the-os-x-clipboard-in-terminal/
alias cbp='pbpaste | less'

# Swift
sw() {
  if [ -n "$1" ]; then
    if [ -f "$1" ]; then
      swift "$1.swift"
    fi
  else
    swift *.swift
  fi
}
