; !  = means mandatory
; #  = means optional
; C  = left_command
; T  = left_control
; O  = left_option
; S  = left_shift
; F  = fn
; Q  = right_command
; W  = right_control
; E  = right_option
; R  = right_shift
; !! = mandatory command + control + optional + shift (hyper)
; ## = optional any

{:main [{:des "Caps lock key alone becomes Cmd+Tab, and when in combination becomes the Hyper key."
         :rules [[:caps_lock :!CTOleft_shift nil {:alone :!Ctab}]]}

        {:des "Cycle among the 3 most recent applications."
         :rules [[:!!tab [:!Ctab :!Ctab]]]}

        {:des "Shift keys alone become parentheses, and when in combination act normal."
         :rules [[:left_shift :left_shift nil {:alone :!S9}]
                 [:right_shift :right_shift nil {:alone :!S0}]]}

        {:des "Option keys alone become braces, and when in combination act normal."
         :rules [[:left_option :left_option nil {:alone :!Sopen_bracket}]
                 [:right_option :right_option nil {:alone :!Sclose_bracket}]]}

        {:des "Space bar alone acts normal, and when in combination acts like a shift key.  A shifted space bar acts like the standard space bar."
         :rules [[:spacebar :left_shift nil {:alone :spacebar}]
                 [:!Sspacebar :spacebar]]}

        {:des "Swap colon and semicolon."
         :rules [[:semicolon :!Ssemicolon]
                 [:!Ssemicolon :semicolon]
                 [:!Rsemicolon :semicolon]
                 [:!SRsemicolon :semicolon]]}

        {:des "Swap single quote and double quote."
         :rules [[:quote :!Squote]
                 [:!Squote :quote]
                 [:!Rquote :quote]
                 [:!SRquote :quote]]}]}
