; !  = means mandatory
; #  = means optional
; C  = left_command
; T  = left_control
; O  = left_option
; S  = left_shift
; F  = fn
; Q  = right_command
; W  = right_control
; E  = right_option
; R  = right_shift
; !! = mandatory command + control + optional + shift (hyper)
; ## = optional any

{:main [{:des "Caps lock key emits Cmd+Tab when pressed alone, and emits Hyper key when combined with other keys."
         :rules [[:caps_lock :!CTOleft_shift nil {:alone :!Ctab}]]}

        {:des "Cycle among the 3 most recent applications."
         :rules [[:!!tab [:!Ctab :!Ctab]]]}

        {:des "Cycle among the active applications' windows."
         :rules [[:!!grave_accent_and_tilde :!Cgrave_accent_and_tilde]]}

        {:des "Cycle among the active applications' tabs."
         :rules [[:!!left_arrow :!COleft_arrow]
                 [:!!right_arrow :!COright_arrow]]}

        {:des "Shift keys emit parentheses when pressed alone."
         :rules [[:left_shift :left_shift nil {:alone :!S9}]
                 [:right_shift :right_shift nil {:alone :!S0}]]}

        {:des "Option keys emit braces when pressed alone."
         :rules [[:left_option :left_option nil {:alone :!Sopen_bracket}]
                 [:right_option :right_option nil {:alone :!Sclose_bracket}]]}

        {:des "Control keys emit underscores when pressed alone."
         :rules [[:left_control :left_control nil {:alone :!Shyphen}]
                 [:right_control :right_control nil {:alone :!Shyphen}]]}

        {:des "Space bar can be used as a shift key."
         :rules [[:spacebar :left_shift nil {:alone :spacebar}]]}

        {:des "Swap colon and semicolon."
         :rules [[:semicolon :!Ssemicolon]
                 [:!Ssemicolon :semicolon]
                 [:!Rsemicolon :semicolon]
                 [:!SRsemicolon :semicolon]]}

        {:des "Swap single quote and double quote."
         :rules [[:quote :!Squote]
                 [:!Squote :quote]
                 [:!Rquote :quote]
                 [:!SRquote :quote]]}

        {:des "Shift+Delete will do a forward delete."
         :rules [[:!Sdelete_or_backspace :!Fdelete_or_backspace]
                 [:!Rdelete_or_backspace :!Fdelete_or_backspace]]}

        {:des "Fn Mode"
         :rules [[:fn ["fn-mode" 1] :!fn-mode]
                 [:fn ["fn-mode" 0] :fn-mode]
                 [:hyphen :!Shyphen :fn-mode]
                 [:equal_sign :!Sequal_sign :fn-mode]
                ; TODO: consider putting function keys here
                ; TODO: consider more Fn mode key mappings
                 ]}]}

; TODO: consider remapping the apple keys like mission control and launchpad
